<h1>Dice Roll</h1>

<form action="/process_roll">
  <label for="dice_choice">Number of dice to roll?</label>
  <input id="dice_choice" type="text" name="dice">
  <label for="side_choice">How many sides per die?</label>
  <input id="side_choice" type="text" name="sides">

  <button>Roll!</button>
</form>
